{% extends 'base.html' %}
{% block content %}
<body>
<div>
    {% if add == 'b' %}
    <h1 style="color: blue">Value added to bank.</h1>
    {% else %}
    <h1>Enter Bank Total Money</h1>
    <form action="{% url 'bankTotalMoney' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="serial">Enter ID:</label>
            <input type="text" id="serial" name="serial" placeholder="enter id"/>
        </div>
        <div class="form-group">
            <label for="amount">Enter amount (BDT):</label>
            <input type="number" id="amount" name="amount" placeholder="enter amount"/>
        </div>
        <button class="button" style="float:middle;"><span>Submit</span></button>
      </form>
    {% endif %}
    <a href="/adminPanel/"><button class="button" style="color: darkred;"><span>Go Back</span></button></a>
</div>
</body>
{% endblock %}




