<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
<div>
    {% if registered == "b" %}
    <h1 style="color: darkblue">Successfully purchased {{mydata.quantity}} Silver coins. {{mydata.price}} TK has been deducted from your account balance. Thank you for buying.</h1>
    <div style="white-space:nowrap"><h1 style="color: indigo">Check your purchase record here
        <a href="/show_purchase_info/"><button class="button" style="width: 18%; padding: 6px; color: indigo;"><span>Purchase record</span></button></a></h1>
    </div>
    {% endif %}
    {% if registered == "d" %}
    <h1 style="color: red">Purchase failed. Your account balance is insufficient.</h1>
    {% endif %}
    {% if registered == "e" %}
    <div><h1 style="color: red">Purchase failed. You did not deposit yet.</h1>
        <h1 style="color: red">Deposit here first.<a href="/depositamount/"><button class="button" style="width: 25%;  padding: 4px;"><span>Deposit</span></button></a></h1>
    </div>
    {% endif %}
    {% if registered == "c" %}
    <div style="white-space:nowrap"><h1 style="color: red">You are not registered. Register here first.
        <a href="/register/"><button class="button" style="width: 25%;  padding: 4px;"><span>Register</span></button></a></h1>
    </div>
    {% endif %}
    <h1>Buy Silver Coins here
    <img src="/static/assets/img/features/silver.png" alt="" width="75" height="75"/></h1>
    <h3 style="color: darkblue">Fill out the below form</h3>
    <br>
    <form action="{% url 'buy_silver' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="enter username"/>
        </div>
            <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="enter password"/>
        </div>
            <div class="form-group">
         <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" placeholder="enter quantity"/>
        </div>
        <button class="button" style="float:middle;"><span>Buy Now</span></button>
    </form>
    <a href="/buy_product/"><button class="button" style="color: darkred;"><span>Go Back</span></button></a>
    <h4 style="color: darkred">Coin's price will be deducted from your account balance.</h4>
</div>
</body>
{% endblock %}




