{% extends 'base.html' %}

{% block content %}
<br>
<div style="color: darkblue; float:center; font-family:  Tahoma, sans-serif;">
<h2>1. <a href="/show_account_info/" style="color: blue">Account information</a></h2>
<h2>2. <a href="/show_balance_info/" style="color: blue">Account Balance information</a></h2>
<h2>3. <a href="/show_loan_info/" style="color: blue">Account Loan information</a></h2>
    <br>
<h2>4. <a href="/show_deposit_history/" style="color: blue">View my deposit records</a></h2>
<h2>5. <a href="/show_withdraw_history/" style="color: blue">View my withdraw records</a></h2>
<h2>6. <a href="/show_purchase_info/" style="color: blue">My purchases from bank</a></h2>
    <br><br>
    <a href="/features/"><button class="button" style="color: darkred;"><span>Go Back</span></button></a>
</div>
{% endblock %}